.container{
    border: 0.5px solid var(--white);
    display: flex;
    width: 100%;
    height: 229px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: var(--white);
    padding: 15px;
    box-sizing: border-box;
    
}
.container_right{
    text-align: justify;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 12px;
}
.course_image{
    width: 90px;
    height: 83px;
    border-radius: 5px;
}
.course_title{
    font-size: 23px;
    padding: 0;
    margin: 0;
}
.container_left .icons_group {
  display: flex;
  gap: 8px;
  font-family: "ShabnamRegular";
}
.course_discription{
    font-size: 12.5px;
    font-family: 'Yekan-Bakh-Regular', sans-serif;
}

.container_left{
  width: 40%;
  height: 100%;
  font-size: 12px;
  font-family: 'Yekan-Bakh-Regular', sans-serif;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 2px var(--white) solid;
}
.container_left > div > p {
  font-size: 12px;
}
.container_left div.icons_group {
  margin-top: 8px;
}
.container_left div.icons_group > div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.container_left div.icons_group > div > span {
  font-size: 10px;
}
.container_left > div p {
  margin: 0;
  padding: 0;
}
.course_registration {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.course_registration > p {
  font-family: "ShabnamRegular";
}
.button{
  background-color: var(--purple) !important;
}
@media only screen and (max-width : 480px) {
  .container{
    height: 172px;
  }
  .course_image{
    width: 68px;
    height: 62px;
  }
  .course_title{
    font-size: 14px;
  }
  .course_discription{
    font-size: 9px;
  }
  .container_left{
    font-size: 8px;
  }
  .button{
    width: 70px;
    height: 24px;
    font-size: 8px !important;
  }
}