.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 591px;
    background-image: url("../assets/Contact-us.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    flex-direction: column;
}

.hand{
    position: absolute;
    right: 10vw;
    bottom: 0;
}
.contact_us{
    display: flex;
    color: var(--white);
    gap: 20px;
}

.title{
    margin-top: 60px;
    font-size: 60px;
    color: var(--white);
}
.data_container{
    display: flex;
    color: var(--white);
}
.label{
    color: var(--green);
}
.number_container{
    width: 50%;
}
.input{
    border-radius: 15px;
}
.input_container{
    display: flex;
    flex-direction: column;
}