.animation_container{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.main_animation{
        height: 80vh;
        width: 50%;
        object-fit: cover;
}
.main_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00EA6B;
    padding: 40px;
}
.main_text{
    font-size: 40px;
}
.main_text_white {
    color: var(--white);
}
.course_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    margin-bottom: 150px;
}
.course_container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}
.course_container_header > p {
    font-size: 27px;
}
.course_container_header > button {
    font-size: 20px;
    background: var(--purple);
    font-family: 'Kaghaz-bold';
    padding: 6px 32px;
}
.course_container_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.teachers_container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00ea6b;
    font-size: 60px;
}
.certificate_container{
    margin-top: 95px;
}
.certificate{
    width: 100%;
    height: auto;
}
.certificate_text_container{
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: var(--white);
}
.certificate_title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    text-align: justify;
    color: var(--purple);
}
.certificate_desciption{
    font-family: 'Yekan-Bakh-Regular' , Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.hand{
    position: absolute;
    right: -10px;
    width: 150px;
    animation: customAni 12s ease-in-out 0s infinite normal none;
}
.blog_title{
    margin-top: 83px;

    color: #00EA6B;
    font-size: 50px;
}
.blog_desciption{
    margin-top: 5px;

    font-size: 32px;
    color: #FFFFFF;
    font-family: 'yekan-bakh-medium';
}
.course_text_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.blog_text_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog_button{
    width: 140px;
    background-color: var(--green) !important;
    color: var(--black) !important;
}
@media only screen and (max-width : 480px) {
    .main_text{
        font-size: 18px;
    }
    .course_container {
        margin-bottom: 55px;
    }
    .course_container_cards{
        flex-direction: column;
    }
    .course_container_header > p {
        font-size: 15px;
    }
    .course_container_header > button {
        padding: 4px 19px;
        font-size: 10px;
    }
    .teachers_container_title{
        font-size: 25px;
    }
    .hand{
        width: 67px;
        height: 72px;

    }
    .certificate_container{
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
    }
    .certificate_title{
        margin-top: 22px;
        font-size: 18px;
    }
    .certificate_desciption{
        font-size: 12px;
    }
    .blog_title{
        font-size: 18px;
    }
    .blog_desciption{
        font-size: 12px;
    }

}
@keyframes customAni {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }
  