.container{
    background-color: var(--dark) !important;
    height: 80px;
    overflow: hidden;
    box-shadow: none !important;
    
}
.back{
    width: 100%;
    background-color: var(--dark);
}
.menu_link{
    color: var(--white);
    text-decoration: none;
}
.logo{
    width: 58px;
    height: 69px;
    margin-left: 30px;
    cursor: pointer;
}
.search_img{
    width: 37px;
    height: 78;
    position: absolute;
    left: -34px;
    top: 18px;
}