.footer_container{
    color: var(--white);
    font-family: 'Yekan-Bakh-Regular';
}
.footer_box {
    justify-content: space-between;
}
.footer_menu{
    font-family: 'Kaghaz-bold';
    display: flex;
    align-items: center;
    gap: 32px;
}
.footer_copyright_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-family: 'Yekan-Bakh-Regular',Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.back{
    width: 100%;
    background-color: var(--dark);
}
.footer_discription{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    p{
        margin: 0 !important;
    }
}
.footer_right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_left{
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_input{
    direction: rtl;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: #C5C5C580;
    color: var(--white);
    border: none;
    outline: none;
}
.footer_input::placeholder{
color: var(--white);
}
.footer_input::-moz-placeholder{
color: var(--white);
}
.icon_container{
    display: flex;
    gap: 20px;
}
@media only screen and (max-width : 480px) {
    .footer_menu {
        order: 2;
    }
    .footer_discription {
        flex-direction: column;
        order: 1;
    }
    .icon_container {
        justify-content: center;
    }
    .footer_copyright_container {
        justify-content: center;
        padding-bottom: 12px;
    }
    .footer_copyright_container > img {
        width: 53px;
    }
}