.container{
    border: 1px solid var(--white);
    display: flex;
    width: 379px;
    height: 385px;
    border-radius: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-direction: column;
    
}
.Blog_image{
    width: 343px;
    height: 200px;
    border-radius: 5px;
}
.blog_title{
    margin-top: 15px;
    font-size: 23px;
    color: var(--green);
}
.blog_name{
    font-size: 15px;
    font-family: 'yekanbakhRegular', sans-serif;
  }

.container_left{
  font-size: 12px;
  font-family: 'yekanbakhmedium', sans-serif;

}
.button{
  background-color: var(--purple) !important;
  font-family: 'Yekan-Bakh-Fat' sans-serif;
}
.blog_discription_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom_container{
  width: 90%;
}
.author_container {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.author_container > img {
  width: 33px;
  height: 33px;
}
.author_container > p {
  margin: 0;
  color: var(--white);
  font-size: 15px;
}
.icon_container{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}
.icon_container > div {
  width: 34px;
  height: 16px;
  padding: 0 4px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 2px;
}

.icon_container > div > img {
  width: 12px;
}

.blog_detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blog_detail > p {
  margin: 0;
  padding: 0;
  gap: 8px;
  color: var(--white);
}